[profile]
src = 'contracts'
out = 'out'
libs = ['lib']
tests = 'test'
solc_version = '0.8.24'
optimizer = true
optimizer_runs = 200
remappings = [
    "forge-std/=lib/forge-std/src/",
    "@openzeppelin/=node_modules/@openzeppelin/"
]

[fuzz]
runs = 256
max_test_rejects = 65536
seed = "0x3e8"
dictionary_weight = 40
include_storage = true
include_push_bytes = true

[profile.coverage]
exclude_paths = [
    "node_modules/@openzeppelin/contracts/**",
]
